body {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.list-container {
    min-height: 300px;
}

#previewContainer{
    width: 100%;
    height: 400px;
}

#errorAlert {
    display: none;
}

#successAlert {
    display: none;
}

#dataTable {
    min-width: 800px;
}

#dataTable thead tr th:nth-child(1) {
    width: 80px;
}

#dataTable thead tr th:nth-child(2) {
    width: 200px;
}

#dataTable thead tr th:nth-child(3) {
    width: 300px;
}

#dataTable thead tr th:nth-child(4) {
    width: 200px;
}

#dataTable thead tr th:nth-child(5) {
    width: 200px;
}

#dataTable thead tr th:nth-child(6) {
    width: 80px;
}

#dataTable thead tr th:nth-child(7) {
    width: 80px;
}
#dataTable thead tr th:nth-child(7) {
    width: 80px;
}